* {
    margin: 0px;
    padding: 0px;
}

/* .image-content {
    position: absolute;
    z-index: 5;
    display: transparent;
    display: flex;
    flex-direction: column;
    
}

.figure-caption {
    justify-self: end;
} */



